// Single-Display: the viewer full screen, with a small navigator.

.launchpad {
  .single-display {
    &-controller {
      bottom: 0;
      box-shadow: 0 10px 20px $transparent-black;
      min-height: 390px;
      height: 45vh;
      position: fixed;
      right: 0;
      z-index: 2;

      .shabad-pane {
        height: 100%;

        .pane {
          height: inherit;
        }

        .shabad-list {
          height: inherit;
        }
      }

      .pane {
        // The single-display header is itself the pane-header.
        .pane-header.header-controller {
          display: flex;
          justify-content: space-between;
          width: 100%;

          .history-order {
            flex-grow: 1;
            text-align: right;
            margin-right: 24px;
          }
        }

        .pane-content {
          >div {
            padding: 0;
          }
        }
      }
    }

    &-pane {
      min-width: 550px;

      .shabad-pane-header {
        margin-right: 24px;
      }
    }

    &-minimize {
      .pane {
        height: 40px;
        transition: 0.3s ease all;

        &-footer {
          display: none;
        }
      }
    }

    &-maximize {
      .search-pane {
        height: 100%;

        .pane {
          height: inherit;
        }

        .search-footer {
          margin: 0;
          width: 100%;
        }
      }

      .pane {
        height: 100%;
        transition: 0.3s ease all;

        &-footer {
          display: block;
        }
      }
    }

    &-switches {
      display: flex;
      height: 40px;
      width: 100%;
    }

    &-viewer {
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;

      &>.viewer-pane {
        padding: 0;

        & .pane {
          height: 100vh;
          width: 100%;
        }
      }
    }

    &-hide {
      &-left {
        left: -75px !important;
        transition: 0.3s ease all;
      }
    }

    &-show {
      &-left {
        left: 0 !important;
        transition: 0.3s ease all;
      }
    }
  }

  .single-display {
    &-minimize {
      min-height: auto;
      height: 5vh;
    }
  }

  .single-display-switches {
    background: rgba(221, 221, 221, 1);

    .tab-switch .turban-icon {
      height: 18px;
    }
  }
}
