// The viewer pane: the projected slide, embedded as a webview.
.viewer-pane {
  @include pane-containers;

  > div {
    background: none !important;
  }

  &__content {
    align-items: center;
    display: flex;
    min-width: 500px;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

  &__webview {
    width: 100% !important;
    height: 100%;
  }
}
