// The dot on the notifications button when there's something new.
.badge::after {
  background: red;
  border-radius: 50%;
  content: '';
  height: 0.5rem;
  position: absolute;
  right: 3.2rem;
  top: 0.5em;
  width: 0.5rem;
}
